/*banner*/

#banner {
  position: relative;
  background: linear-gradient(#000000,#222222);
  background-size: cover;
  padding: 213px 0 52px;
  margin: -108px 0 0;
  .banner-text{
    h2{
      font-family: "Rajdhani";
      font-weight: 400;
      font-size: 42px;
      color: #FFF;
      line-height: 70px;
      letter-spacing: 5px;
    }
    p{
      margin: 12px auto 0;
      font-family: "Rajdhani";
      font-weight: 400;
      font-size: 18px;
      color: #FFF;
      line-height: 33px;
      letter-spacing: 3px;
    }
    .bmw{
      margin: 60px;
      max-width: 1415px;
      width: 100%;
    }
  }
}
