/*footer*/

#footer {
  background: linear-gradient(to right, #171717,#3D3D3D,#171717);
  padding: 20px 0;
  ul{
    list-style: none;
    max-width: 591px;
    margin: 0 auto 20px;
    padding: 0;
    @include dflex(nowrap,space-between,center,center);
    li{
      a{
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 17px;
        color: #FFF;
      }
    }
  }
  .copy, .silver{
    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
