/*header*/

#header {
  position: relative;
  background: none;
  padding: 23px 0 0;
  z-index: 999;
  .row{
    @include dflex(nowrap,space-between, center, top);
  }
  .hdLeft{
    max-width: 437px;
    @include width(437px);
    img{
      width: 100%;
    }
  }
  .hdRight{
    @include width(749px);
    .bot{
      padding: 15px 0 0;
      text-align: right;
      @include dflex(nowrap, flex-end, center, center);
      .social{
        .facebook{
          background: url('../images/common/social-icons.png') no-repeat 0 -1px;
        	width: 46px;
        	height: 45px;
          padding: 0 24px;
        }
        .instagram{
          background: url('../images/common/social-icons.png') no-repeat -100px 0;
	        width: 47px;
	        height: 47px;
          padding: 0 24px;
        }
        .googlep{
          background: url('../images/common/social-icons.png') no-repeat -201px -1px;
        	width: 46px;
        	height: 45px;
          padding: 0 24px;
        }
        .yelp{
          background: url('../images/common/social-icons.png') no-repeat no-repeat -302px -1px;
        	width: 46px;
        	height: 45px;
          padding: 0 24px;
        }
      }
      .hdPhone{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 26px;
        font-weight: 700;
        line-height: 120%;
        a{
          padding: 0 0 0 32px;
          position: relative;
          &::before{
            content: '';
            background: url('../images/common/icons.png') no-repeat -305px -21px;
          	width: 22px;
          	height: 23px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      @include dflex(nowrap, space-between, center, center);
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 12px;
          color: #FFF;
          line-height: 120%;
          letter-spacing: 4px;
        }
        &.active-menu a, a:hover {
          color: #fff;
        }
      }
    }
  }
}
