.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
  z-index: 999999;
}

html.suspended {
  background: rgba(0, 0, 0, 0.6);
}

body {
  max-width: 100%;
  min-width: 1600px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
  background: #222222;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1582px;
  margin: 0 auto;
}
