/*button*/

.btn {
  text-align: center;
  font-family: "Rajdhani";
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
  display: inline-block;
  padding: 12.5px 0px;
  width: 100%;
  max-width: 137px;
  background: linear-gradient(#171717,#3D3D3D,#171717);
  border: 1px solid #444444;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
.btn2 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #222222;
  display: inline-block;
  padding: 23.5px 0px;
  width: 100%;
  max-width: 289px;
  background: none;
  border: 1px solid #444444;
  border-radius: 10px;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
