h1 {
  font-size: 100px;
  font-weight: 100;
  color: #000;
}
h2{
  font-family: "Rajdhani";
  font-size: 42px;
  font-weight: 400;
  line-height: 53px;
  color: #FFF;
}
h3{
  font-family: "Rajdhani";
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  color: #FFF;
}
h4{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 23px;
  color: #FFF;
  line-height: 30px;
}
h5{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #666666;
  line-height: 33px;
}
