@mixin dflex($wrap: nowrap,$jcontent:center, $acontent:center, $aitems: center){
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  justify-content: $jcontent;
  align-content: $acontent;
  align-items: $aitems;
}
