/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 1--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#page-bottom{
  background: url(../images/common/pg-bg.jpg)no-repeat center center;
  background-size: cover;
  padding: 135px 0 67px;
  p.tag{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 23px;
    color: #FFF;
    margin: 30px auto 20px;
  }
  .social{
    max-width: 349px;
    margin: 0 auto;
    @include dflex(nowrap, space-between, center, center);
    .facebook{
      background: url('../images/common/social-icons.png') no-repeat 0 -1px;
      width: 46px;
      height: 45px;
      padding: 0 24px;
    }
    .instagram{
      background: url('../images/common/social-icons.png') no-repeat -100px 0;
      width: 47px;
      height: 47px;
      padding: 0 24px;
    }
    .googlep{
      background: url('../images/common/social-icons.png') no-repeat -201px -1px;
      width: 46px;
      height: 45px;
      padding: 0 24px;
    }
    .yelp{
      background: url('../images/common/social-icons.png') no-repeat no-repeat -302px -1px;
      width: 46px;
      height: 45px;
      padding: 0 24px;
    }
  }
  .container{
    max-width: 1200px;
    margin: 70px auto 0;
    @include dflex(nowrap, space-between, center, stretch);
    .box{
      background: linear-gradient(to top right, #171717, #3D3D3D);
      border:1px solid #444444;
      padding: 51px 0 0;
      max-width: 371px;
      width: 100%;
      min-height: 181px;
      h2{
        position: relative;
        font-family: "Teko";
        font-size: 30px;
        font-weight: 300;
        color: #FFF;
        line-height: 41px;
        margin-bottom: 50px;
      }
    }
    .email{
      h2{
        &::before{
          content: "";
          background: url('../images/common/icons.png') no-repeat 0 0;
        	width: 71px;
        	height: 70px;
          position: absolute;
          top: -88px;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after{
          content: "";
          background: #D6D6D6;
          width: 132px;
          height: 1px;
          position: absolute;
          bottom: -26px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      a{
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #FFF;
        line-height: 22px;
      }
    }
    .phone{
      h2{
        &::before{
          content: "";
          background: url('../images/common/icons.png') no-repeat -100px 0;
        	width: 71px;
        	height: 70px;
          position: absolute;
          top: -88px;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after{
          content: "";
          background: #D6D6D6;
          width: 132px;
          height: 1px;
          position: absolute;
          bottom: -26px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      a{
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 30px;
        color: #FFF;
        line-height: 39px;
      }
    }
    .location{
      h2{
        &::before{
          content: "";
          background: url('../images/common/icons.png') no-repeat -199px 0;
        	width: 71px;
        	height: 70px;
          position: absolute;
          top: -88px;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after{
          content: "";
          background: #D6D6D6;
          width: 132px;
          height: 1px;
          position: absolute;
          bottom: -26px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      a{
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #FFF;
        line-height: 180%;
      }
    }
  }
}
