/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 1--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section5{
  background: url(../images/common/section5.jpg)no-repeat center center;
  background-size: cover;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  margin-top: 10px;
  padding: 44px 0;
  .container{
    background: rgba(255,255,255,0.91);
    max-width: 760px;
    margin: 0 auto;
    padding: 67px 0 56px;
    h3{
      font-family: "Montserrat";
      font-weight: 800;
      font-size: 19px;
      color: #7A7A7A;
      line-height: 27px;
    }
    h2{
      font-family: "Montserrat";
      font-weight: 800;
      font-size: 48px;
      color: #555555;
      line-height: 58px;
    }
    form{
      max-width: 660px;
      margin: 0 auto;
      input[type="text"]{
        padding: 15px 0;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 14px;
        color: #000;
        background: none;
        border-radius: 0;
        border-top: none;
        border-right:none;
        border-left:none;
        border-bottom: 1px solid #000000;
      }
      textarea{
        padding: 15px 0;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 14px;
        color: #000;
        background: none;
        border-radius: 0;
        border-top: none;
        border-right:none;
        border-left:none;
        border-bottom: 1px solid #000000;
      }
      .btn2{
        margin: 20px auto 0;
      }
    }
  }
}
