/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 3--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section3{
  background: #222222;
  .row{
    @include dflex(nowrap, space-between, center, center);
  }
  .left{
    @include width(726px);
    padding: 0 0 0 50px;
    text-align: left;
    p{
      margin: 30px 0;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
      color: #FFF;
      line-height: 28px;
    }
  }
  .right{
    @include width(741px);
  }
}
