/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 4--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section4{
  background: linear-gradient(#222222, #000000);
  .row{
    @include dflex(nowrap, space-between, center, stretch);
  }
  .left{
    @include width(860px);
    .left-top{
      @include dflex(nowrap, space-between, center, stretch);
      .box1{
        background: linear-gradient(to top right, #000000, #222222);
        border: 1px solid #444444;
        h2{
          font-size: 55px;
          margin: 10px 0 20px;
        }
        text-align: left;
        padding: 60px 120px 50px 32px;
      }
      .box2{
        max-height: 275px;
      }
    }
    .left-bot{
      margin: 5px 0 0;
      @include dflex(nowrap, center, center, stretch);
    }
  }
  .right{
    @include width(600px);
    background: linear-gradient(to top right, #000000, #222222);
    border: 1px solid #444444;
    text-align: left;
    padding: 88px 11px 84px 102px;
    h2{
      font-size: 55px;
      margin: 10px 0 20px;
    }
    .review{
      margin: 20px 0;
      text-align: left;
      p.author{
        margin: 0;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 20px;
        color: #FFF;
        span.stars{
          font-size: 25px;
        }
      }
      p.comment{
        font-family: "Montserrat";
        font-weight: 400;
         font-size: 15px;
         color: #FFF;
         line-height: 30px;
      }
    }
  }
}
