/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 1--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section1{
  background: linear-gradient(#222222,#000000);
  h1{
    font-family: "Rajdhani";
    font-weight: 400;
    font-size: 55px;
    color: #FFF;
  }
  h2{
    font-family: "Rajdhani";
    font-weight: 400;
    font-size: 42px;
    color: #FFF;
  }
  h3{
    font-family: "Rajdhani";
    font-weight: 600;
    font-size: 26px;
    color: #FFF;
  }
  .row{
    @include dflex(nowrap, space-between, center, flex-end);
    .left{
      @include width(987px);
      .left-top, .left-mid, .left-bot{
        @include dflex(nowrap, space-between, center, stretch)
      }
      .left-top{
        margin: 0 0 5px;
        .box1{
          background: linear-gradient(to top right, #171717, #3D3D3D);
          padding: 48px 30px 34px 57px;
          max-width: 522px;
          text-align: left;
          border: 1px solid #444444;
          p{
            font-family: "Rajdhani";
            font-weight: 400;
            font-size: 24px;
            color: #FFF;
            line-height: 31px;
          }
        }
        .box2{
          max-height: 290px;
        }
      }
      .left-bot{
        .box5{
          align-self: flex-start;
        }
        .box6{
          padding: 44px 40px 87px;
          text-align: left;
          p{
            margin: 1em 0;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 400;
            color: #FFF;
            line-height: 30px;
          }
        }
      }
    }
    .right{
      @include width(595px);
      .right-mid{
        padding: 0 0 47px 40px;
        text-align: left;
        p{
          margin: 30px 0;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 16px;
          color: #FFF;
          line-height: 30px;
        }
        .button{
          @include dflex(nowrap, space-between, center, center);
        }
      }
    }
    .svc{
      position: relative;
      .text{
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 99;
        text-align: left;
        h3{
          line-height: 37px;
          letter-spacing: 1px;
        }
        p{
          margin: 0 auto;
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 20px;
          color: #FFF;
          line-height: 25px;
        }
      }
    }
  }
}
