/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 2--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section2{
  background: linear-gradient(#000000, #222222);
  .container{
    background: url(../images/common/section2BG.jpg)no-repeat center top;
    background-size: 100% 100%;
    max-width: 1750px;
    width: 110%;
    margin: 0 auto 0 -158px;
    @include dflex(nowrap, center, center, center)
    .left{
      @include width2(858px);
      text-align: right;
      margin: 0 0 -45px;
    }
    .right{
      @include width2(892px);
      .text{
        max-width: 644px;
        margin: 0 auto;
        text-align: left;
        h4{
          margin: 0 0 20px;
        }
        p{
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 16px;
          color: #FFF;
          line-height: 28px;
        }
      }
    }
  }
}
