/*inner pages*/

.inner #content {
  min-height: 400px;
  padding: 40px 0;
}
.inner #content{
  h1, h2, h3, h4, h5, p, label{
    color: #FFF;
  }
}
.contact-page #content .btn2{
  background: rgba(255,255,255,0.91);
}
