@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: "socialico-plus"; src: url("fonts/SocialicoPlus/socialico-plus.eot"); src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix") format("embedded-opentype"), url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"), url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"), url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"), url("fonts/SocialicoPlus/socialico-plus.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Regular.woff2") format("woff2"), url("fonts/Rajdhani-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Teko'; src: url("fonts/Teko-Light.woff2") format("woff2"), url("fonts/Teko-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("fonts/Montserrat-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Black.woff2") format("woff2"), url("fonts/Montserrat-Black.woff") format("woff"); font-weight: 900; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1600px; margin: 0 auto; text-align: center; font-family: Arial; background: #222222; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1582px; margin: 0 auto; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*button*/
.btn { text-align: center; font-family: "Rajdhani"; font-size: 15px; font-weight: 400; color: #FFF; display: inline-block; padding: 12.5px 0px; width: 100%; max-width: 137px; background: -webkit-gradient(linear, left top, left bottom, from(#171717), color-stop(#3D3D3D), to(#171717)); background: -webkit-linear-gradient(#171717, #3D3D3D, #171717); background: -o-linear-gradient(#171717, #3D3D3D, #171717); background: linear-gradient(#171717, #3D3D3D, #171717); border: 1px solid #444444; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #000; }

.btn2 { text-align: center; font-family: "Montserrat"; font-size: 18px; font-weight: 900; letter-spacing: 1px; color: #222222; display: inline-block; padding: 23.5px 0px; width: 100%; max-width: 289px; background: none; border: 1px solid #444444; border-radius: 10px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn2:hover { background: #ddd; border-color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

h1 { font-size: 100px; font-weight: 100; color: #000; }

h2 { font-family: "Rajdhani"; font-size: 42px; font-weight: 400; line-height: 53px; color: #FFF; }

h3 { font-family: "Rajdhani"; font-size: 32px; font-weight: 400; line-height: 37px; color: #FFF; }

h4 { font-family: "Montserrat"; font-weight: 700; font-size: 23px; color: #FFF; line-height: 30px; }

h5 { font-family: "Montserrat"; font-weight: 600; font-size: 18px; color: #666666; line-height: 33px; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

/*header*/
#header { position: relative; background: none; padding: 23px 0 0; z-index: 999; }

#header .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: top; -ms-flex-align: top; align-items: top; }

#header .hdLeft { max-width: 437px; width: 27.62326%; }

#header .hdLeft img { width: 100%; }

#header .hdRight { width: 47.34513%; }

#header .hdRight .bot { padding: 15px 0 0; text-align: right; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .hdRight .bot .social .facebook { background: url("../images/common/social-icons.png") no-repeat 0 -1px; width: 46px; height: 45px; padding: 0 24px; }

#header .hdRight .bot .social .instagram { background: url("../images/common/social-icons.png") no-repeat -100px 0; width: 47px; height: 47px; padding: 0 24px; }

#header .hdRight .bot .social .googlep { background: url("../images/common/social-icons.png") no-repeat -201px -1px; width: 46px; height: 45px; padding: 0 24px; }

#header .hdRight .bot .social .yelp { background: url("../images/common/social-icons.png") no-repeat no-repeat -302px -1px; width: 46px; height: 45px; padding: 0 24px; }

#header .hdRight .bot .hdPhone { color: #FFF; font-family: "Montserrat"; font-size: 26px; font-weight: 700; line-height: 120%; }

#header .hdRight .bot .hdPhone a { padding: 0 0 0 32px; position: relative; }

#header .hdRight .bot .hdPhone a::before { content: ''; background: url("../images/common/icons.png") no-repeat -305px -21px; width: 22px; height: 23px; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { font-family: "Montserrat"; font-weight: 500; font-size: 12px; color: #FFF; line-height: 120%; letter-spacing: 4px; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #fff; }

/*banner*/
#banner { position: relative; background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#222222)); background: -webkit-linear-gradient(#000000, #222222); background: -o-linear-gradient(#000000, #222222); background: linear-gradient(#000000, #222222); background-size: cover; padding: 213px 0 52px; margin: -108px 0 0; }

#banner .banner-text h2 { font-family: "Rajdhani"; font-weight: 400; font-size: 42px; color: #FFF; line-height: 70px; letter-spacing: 5px; }

#banner .banner-text p { margin: 12px auto 0; font-family: "Rajdhani"; font-weight: 400; font-size: 18px; color: #FFF; line-height: 33px; letter-spacing: 3px; }

#banner .banner-text .bmw { margin: 60px; max-width: 1415px; width: 100%; }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 1--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section1 { background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#000000)); background: -webkit-linear-gradient(#222222, #000000); background: -o-linear-gradient(#222222, #000000); background: linear-gradient(#222222, #000000); }

#section1 h1 { font-family: "Rajdhani"; font-weight: 400; font-size: 55px; color: #FFF; }

#section1 h2 { font-family: "Rajdhani"; font-weight: 400; font-size: 42px; color: #FFF; }

#section1 h3 { font-family: "Rajdhani"; font-weight: 600; font-size: 26px; color: #FFF; }

#section1 .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#section1 .row .left { width: 62.38938%; }

#section1 .row .left .left-top, #section1 .row .left .left-mid, #section1 .row .left .left-bot { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#section1 .row .left .left-top { margin: 0 0 5px; }

#section1 .row .left .left-top .box1 { background: -webkit-gradient(linear, left bottom, right top, from(#171717), to(#3D3D3D)); background: -webkit-linear-gradient(bottom left, #171717, #3D3D3D); background: -o-linear-gradient(bottom left, #171717, #3D3D3D); background: linear-gradient(to top right, #171717, #3D3D3D); padding: 48px 30px 34px 57px; max-width: 522px; text-align: left; border: 1px solid #444444; }

#section1 .row .left .left-top .box1 p { font-family: "Rajdhani"; font-weight: 400; font-size: 24px; color: #FFF; line-height: 31px; }

#section1 .row .left .left-top .box2 { max-height: 290px; }

#section1 .row .left .left-bot .box5 { -ms-flex-item-align: start; align-self: flex-start; }

#section1 .row .left .left-bot .box6 { padding: 44px 40px 87px; text-align: left; }

#section1 .row .left .left-bot .box6 p { margin: 1em 0; font-family: "Montserrat"; font-size: 16px; font-weight: 400; color: #FFF; line-height: 30px; }

#section1 .row .right { width: 37.61062%; }

#section1 .row .right .right-mid { padding: 0 0 47px 40px; text-align: left; }

#section1 .row .right .right-mid p { margin: 30px 0; font-family: "Montserrat"; font-weight: 400; font-size: 16px; color: #FFF; line-height: 30px; }

#section1 .row .right .right-mid .button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#section1 .row .svc { position: relative; }

#section1 .row .svc .text { position: absolute; bottom: 20px; left: 20px; z-index: 99; text-align: left; }

#section1 .row .svc .text h3 { line-height: 37px; letter-spacing: 1px; }

#section1 .row .svc .text p { margin: 0 auto; font-family: "Montserrat"; font-weight: 500; font-size: 20px; color: #FFF; line-height: 25px; }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 2--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section2 { background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#222222)); background: -webkit-linear-gradient(#000000, #222222); background: -o-linear-gradient(#000000, #222222); background: linear-gradient(#000000, #222222); }

#section2 .container { background: url(../images/common/section2BG.jpg) no-repeat center top; background-size: 100% 100%; max-width: 1750px; width: 110%; margin: 0 auto 0 -158px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#section2 .container .left { width: 49.02857%; text-align: right; margin: 0 0 -45px; }

#section2 .container .right { width: 50.97143%; }

#section2 .container .right .text { max-width: 644px; margin: 0 auto; text-align: left; }

#section2 .container .right .text h4 { margin: 0 0 20px; }

#section2 .container .right .text p { font-family: "Montserrat"; font-weight: 400; font-size: 16px; color: #FFF; line-height: 28px; }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 3--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section3 { background: #222222; }

#section3 .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#section3 .left { width: 45.89128%; padding: 0 0 0 50px; text-align: left; }

#section3 .left p { margin: 30px 0; font-family: "Montserrat"; font-weight: 400; font-size: 16px; color: #FFF; line-height: 28px; }

#section3 .right { width: 46.83944%; }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 4--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section4 { background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#000000)); background: -webkit-linear-gradient(#222222, #000000); background: -o-linear-gradient(#222222, #000000); background: linear-gradient(#222222, #000000); }

#section4 .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#section4 .left { width: 54.36157%; }

#section4 .left .left-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#section4 .left .left-top .box1 { background: -webkit-gradient(linear, left bottom, right top, from(#000000), to(#222222)); background: -webkit-linear-gradient(bottom left, #000000, #222222); background: -o-linear-gradient(bottom left, #000000, #222222); background: linear-gradient(to top right, #000000, #222222); border: 1px solid #444444; text-align: left; padding: 60px 120px 50px 32px; }

#section4 .left .left-top .box1 h2 { font-size: 55px; margin: 10px 0 20px; }

#section4 .left .left-top .box2 { max-height: 275px; }

#section4 .left .left-bot { margin: 5px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#section4 .right { width: 37.92668%; background: -webkit-gradient(linear, left bottom, right top, from(#000000), to(#222222)); background: -webkit-linear-gradient(bottom left, #000000, #222222); background: -o-linear-gradient(bottom left, #000000, #222222); background: linear-gradient(to top right, #000000, #222222); border: 1px solid #444444; text-align: left; padding: 88px 11px 84px 102px; }

#section4 .right h2 { font-size: 55px; margin: 10px 0 20px; }

#section4 .right .review { margin: 20px 0; text-align: left; }

#section4 .right .review p.author { margin: 0; font-family: "Montserrat"; font-weight: 500; font-size: 20px; color: #FFF; }

#section4 .right .review p.author span.stars { font-size: 25px; }

#section4 .right .review p.comment { font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #FFF; line-height: 30px; }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 1--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#section5 { background: url(../images/common/section5.jpg) no-repeat center center; background-size: cover; border-top: 1px solid #444444; border-bottom: 1px solid #444444; margin-top: 10px; padding: 44px 0; }

#section5 .container { background: rgba(255, 255, 255, 0.91); max-width: 760px; margin: 0 auto; padding: 67px 0 56px; }

#section5 .container h3 { font-family: "Montserrat"; font-weight: 800; font-size: 19px; color: #7A7A7A; line-height: 27px; }

#section5 .container h2 { font-family: "Montserrat"; font-weight: 800; font-size: 48px; color: #555555; line-height: 58px; }

#section5 .container form { max-width: 660px; margin: 0 auto; }

#section5 .container form input[type="text"] { padding: 15px 0; font-family: "Open Sans"; font-weight: 400; font-size: 14px; color: #000; background: none; border-radius: 0; border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #000000; }

#section5 .container form textarea { padding: 15px 0; font-family: "Open Sans"; font-weight: 400; font-size: 14px; color: #000; background: none; border-radius: 0; border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #000000; }

#section5 .container form .btn2 { margin: 20px auto 0; }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------Section 1--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#page-bottom { background: url(../images/common/pg-bg.jpg) no-repeat center center; background-size: cover; padding: 135px 0 67px; }

#page-bottom p.tag { font-family: "Montserrat"; font-weight: 700; font-size: 23px; color: #FFF; margin: 30px auto 20px; }

#page-bottom .social { max-width: 349px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#page-bottom .social .facebook { background: url("../images/common/social-icons.png") no-repeat 0 -1px; width: 46px; height: 45px; padding: 0 24px; }

#page-bottom .social .instagram { background: url("../images/common/social-icons.png") no-repeat -100px 0; width: 47px; height: 47px; padding: 0 24px; }

#page-bottom .social .googlep { background: url("../images/common/social-icons.png") no-repeat -201px -1px; width: 46px; height: 45px; padding: 0 24px; }

#page-bottom .social .yelp { background: url("../images/common/social-icons.png") no-repeat no-repeat -302px -1px; width: 46px; height: 45px; padding: 0 24px; }

#page-bottom .container { max-width: 1200px; margin: 70px auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#page-bottom .container .box { background: -webkit-gradient(linear, left bottom, right top, from(#171717), to(#3D3D3D)); background: -webkit-linear-gradient(bottom left, #171717, #3D3D3D); background: -o-linear-gradient(bottom left, #171717, #3D3D3D); background: linear-gradient(to top right, #171717, #3D3D3D); border: 1px solid #444444; padding: 51px 0 0; max-width: 371px; width: 100%; min-height: 181px; }

#page-bottom .container .box h2 { position: relative; font-family: "Teko"; font-size: 30px; font-weight: 300; color: #FFF; line-height: 41px; margin-bottom: 50px; }

#page-bottom .container .email h2::before { content: ""; background: url("../images/common/icons.png") no-repeat 0 0; width: 71px; height: 70px; position: absolute; top: -88px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#page-bottom .container .email h2::after { content: ""; background: #D6D6D6; width: 132px; height: 1px; position: absolute; bottom: -26px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#page-bottom .container .email a { font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #FFF; line-height: 22px; }

#page-bottom .container .phone h2::before { content: ""; background: url("../images/common/icons.png") no-repeat -100px 0; width: 71px; height: 70px; position: absolute; top: -88px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#page-bottom .container .phone h2::after { content: ""; background: #D6D6D6; width: 132px; height: 1px; position: absolute; bottom: -26px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#page-bottom .container .phone a { font-family: "Open Sans"; font-weight: 700; font-size: 30px; color: #FFF; line-height: 39px; }

#page-bottom .container .location h2::before { content: ""; background: url("../images/common/icons.png") no-repeat -199px 0; width: 71px; height: 70px; position: absolute; top: -88px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#page-bottom .container .location h2::after { content: ""; background: #D6D6D6; width: 132px; height: 1px; position: absolute; bottom: -26px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#page-bottom .container .location a { font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #FFF; line-height: 180%; }

/*footer*/
#footer { background: -webkit-gradient(linear, left top, right top, from(#171717), color-stop(#3D3D3D), to(#171717)); background: -webkit-linear-gradient(left, #171717, #3D3D3D, #171717); background: -o-linear-gradient(left, #171717, #3D3D3D, #171717); background: linear-gradient(to right, #171717, #3D3D3D, #171717); padding: 20px 0; }

#footer ul { list-style: none; max-width: 591px; margin: 0 auto 20px; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer ul li a { font-family: "Montserrat"; font-weight: 600; font-size: 17px; color: #FFF; }

#footer .copy, #footer .silver { margin: 0 auto; font-family: "Montserrat"; font-weight: 600; font-size: 14px; color: #FFF; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

.inner #content h1, .inner #content h2, .inner #content h3, .inner #content h4, .inner #content h5, .inner #content p, .inner #content label { color: #FFF; }

.contact-page #content .btn2 { background: rgba(255, 255, 255, 0.91); }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1582px) { .row { width: 95%; }
  #section2 .container { width: 112%; } }

/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
